<table cellpadding="2" cellspacing="0" border="0" width="100%">
<tr>
    <td bgcolor="#f0f0f0" width="10%"><b>$i18n.getText("git.issue-tab.repository")</b></td>
    <td bgcolor="#f0f0f0" width="10%"><b>$i18n.getText("git.issue-tab.branch")</b></td>
    <td bgcolor="#f0f0f0" width="10%"><b>$i18n.getText("git.issue-tab.revision")</b></td>
    <td bgcolor="#f0f0f0" width="10%"><b>$i18n.getText("git.issue-tab.date")</b></td>
    <td bgcolor="#f0f0f0" width="10%"><b>$i18n.getText("git.issue-tab.user")</b></td>
    <td bgcolor="#f0f0f0"><b>$i18n.getText("git.issue-tab.message")</b></td>
</tr>
<tr>
    <td bgcolor="#ffffff" width="10%" valign="top" rowspan="3">$git.repositoryDisplayName</td>
    <td bgcolor="#ffffff" width="10%" valign="top" rowspan="3">$git.branch</td>
    <td bgcolor="#ffffff" width="10%" valign="top" rowspan="3">$git.linkRenderer.getRevisionLinkHtml($git.revision)</td>
    <td bgcolor="#ffffff" width="10%" valign="top" rowspan="3">$git.timePerformedFormatted</td>
    <td bgcolor="#ffffff" width="10%" valign="top" rowspan="3">$!{git.revision.authorIdent.name} / $!{git.revision.committerIdent.name}</td>
    <td bgcolor="#ffffff">$git.getLinkedLogMessageHtml()</td>
</tr>
<tr>
    <td bgcolor="#f0f0f0"><b>$i18n.getText("git.issue-tab.files-changed")</b></td>
</tr>
<tr>
    <td bgcolor="#ffffff">
            #foreach ($changePath in $git.changedPaths)
                #if ($git.isDeleted($changePath) == true)
                    <font color="#990000" size="-2"><b title="Delete">$i18n.getText("git.issue-tab.deleted")</b></font>
                #elseif ($git.isAdded($changePath) == true)
                    <font color="#009900" size="-2"><b title="Add">$i18n.getText("git.issue-tab.added")</b></font>
                #elseif ($git.isModified($changePath) == true)
                    <font color="#999933" size="-2"><b title="Modify">$i18n.getText("git.issue-tab.modified")</b></font>
                #else
                    $changePath.change
                #end
                $git.linkRenderer.getChangePathLinkHtml($git.revision, $changePath)

                #if ($changePath.copyPath)
                    (from $git.linkRenderer.getCopySrcLinkHtml($git.revision, $changePath))
                #end

                <br>
            #end
    </td>
</tr>
</table>

<br>
