<html>
  <head>
    <title>$action.getText("git.delete.repository")</title>
    <meta name="decorator" content="admin" />
  </head>
  <body>
			<form onsubmit="if (this.submitted) return false; this.submitted = true; return true" name="jiraform" method="post" action="DeleteGitRepository.jspa"/>
				<table width=100% cellpadding=10 cellspacing=0 border=0>
					<tr>
						<td>
							 <table class="jiraform maxWidth">
								 <tbody>
									 <tr>
										 <td class="jiraformheader">
											 <h3 class="formtitle">$action.getText("git.delete.repository")</h3>
										 </td>
									 </tr>
									 <tr>
											<td class="jiraformheader">
												<input type="hidden" name="repoId" value="$repoId" />
												$action.getText("git.confirm.delete.repository", $gitManager.displayName)
											</td>
								 <tr>
										 <td class="fullyCentered jiraformfooter" >
								 <input type="submit" name="delete" value="$action.getText("common.words.delete")" accesskey="S" title="Press Alt+Shift+S to submit form" class="spaced" />
											 <input id="cancelButton"  type="button" accesskey="`" title="Cancel (Alt+Shift + `)" name="ViewGitRepositories.jspa" value="Cancel" onclick="location.href='ViewGitRepositories.jspa'" />
										 </td>
									 </tr>
								 </tbody>
							 </table>
						 </td>
					 </tr>
				 </table>
			</form>
  </body>
</html>