<!-- Start of the git Project Tab -->
<div class="projectPanel">
    <div class="header">
        <h3 class="formtitle">$i18n.getText("git.project-tab.header")</h3>
    </div>

    <!-- Header -->
    <table width="100%" class="versionBanner">
        <tr>
                #if ($versionNumber && $versionNumber > 0)
                    <td class="colHeaderLink" align="left" width="3%" rowspan="2">
                        #versionStatus($selectedVersion 24)
                    </td>
                    <td class="colHeaderLink" align="left">
                        <font size="3">
                          <a href="$req.contextPath/secure/IssueNavigator.jspa?reset=true&pid=$project.id&fixfor=$selectedVersion.id"
                             title="$action.getText("browseproject.getmoreinfo")">
                        <b><u>$selectedVersion.name</u></b></a></font>
                        <span class="noWrap">(#if ($selectedVersion.releaseDate)
                            #versionReleaseDate($versionManager $selectedVersion) |
                        #end
                        <a href="$req.contextPath/secure/ReleaseNote.jspa?projectId=$project.id&styleName=Html&version=$selectedVersion.id"
                            class="subText">$action.getText("common.concepts.releasenotes")</a> )</span>
                    </td>
                #else
                    <td class="formtitle" valign="top">
                    <font size=3><b>
                    #if (!$versionNumber || $versionNumber == -1)
                        $i18n.getText("git.project-tab.all-versions")
                    #else
                        #if ($versionNumber && $versionNumber == -2)
                            $i18n.getText("git.project-tab.released-versions")
                        #else
                            #if ($versionNumber && $versionNumber == -3)
                                $i18n.getText("git.project-tab.unreleased-versions")
                            #end
                        #end
                    #end
                    </b></font>

                    </td>
                #end
            </td>

            <!-- Version drop-down list -->
            <td align="right" valign="center">
                <form action="$req.contextPath/browse/$projectKey?report=com.xiplink.jira.git.jira_git_plugin:git-project-tab" method="POST">
                  $i18n.getText("git.project-tab.select-version")
                  <select name="selectedVersion" onchange="form.submit()">
                    <option value="-1"
                      #if (!$selectedVersion)
                        selected="selected"
                      #end
                    >$i18n.getText("git.project-tab.all-versions")</option>
                    #if ($unreleasedVersions && $unreleasedVersions.size() > 0)
                        <optgroup label="$i18n.getText("git.project-tab.released-versions")">
                            #foreach ($version in $releasedVersions)
                              <option value="$version.id"
                              #if ($selectedVersion && $versionNumber && $versionNumber > 0 && $selectedVersion.id == $version.id)
                                selected="selected"
                              #end
                              >$version.name</option>
                            #end
                        </optgroup>
                    #end
                    #if ($unreleasedVersions && $unreleasedVersions.size() > 0)
                        <optgroup label="$i18n.getText("git.project-tab.unreleased-versions")">
                            #foreach ($version in $unreleasedVersions)
                              <option value="$version.id"
                              #if ($selectedVersion && $versionNumber && $versionNumber > 0 && $selectedVersion.id == $version.id)
                                selected="selected"
                              #end
                              >$version.name</option>
                            #end
                        </optgroup>
                    #end
                  </select>
                </form>
            </td>
            <!-- End of version drop-down -->
        </tr>
        #if ($selectedVersion && $versionNumber && $versionNumber > 0)
            <tr>
                <td colspan="2">
                    <span class="subText">$!selectedVersion.description</span>
                </td>
            </tr>
        #end
    </table>
    <!-- End of header -->

    <!-- The commit table -->
    <table cellpadding="2" cellspacing="0" border="0" width="100%">
        #if ($commits && $commits.size() > 0)
            #foreach ($commit in $commits)

                <tr>
                    <td bgcolor="#f0f0f0" width="10%"><b>$i18n.getText("git.project-tab.repository")</b></td>
                    <td bgcolor="#f0f0f0" width="10%"><b>$i18n.getText("git.project-tab.revision")</b></td>
                    <td bgcolor="#f0f0f0" width="10%"><b>$i18n.getText("git.project-tab.date")</b></td>
                    <td bgcolor="#f0f0f0" width="10%"><b>$i18n.getText("git.project-tab.user")</b></td>
                    <td bgcolor="#f0f0f0"><b>$i18n.getText("git.project-tab.message")</b></td>
                </tr>
                <tr>
                    <td bgcolor="#ffffff" width="10%" valign="top" rowspan="3">$commit.repositoryDisplayName</td>
                    <td bgcolor="#ffffff" width="10%" valign="top" rowspan="3">$commit.linkRenderer.getRevisionLink($commit.revision)</td>
                    <td bgcolor="#ffffff" width="10%" valign="top" rowspan="3">$commit.timePerformed</td>
                    <td bgcolor="#ffffff" width="10%" valign="top" rowspan="3">$!{commit.revision.authorIdent.name} / $!{commit.revision.committerIdent.name}</td>
                    <td bgcolor="#ffffff">#makelinkedhtml($commit.revision.getFullMessage().trim())</td>
                </tr>
                <tr>
                    <td bgcolor="#f0f0f0"><b>$i18n.getText("git.project-tab.files-changed")</b></td>
                </tr>
                <tr>
                    <td bgcolor="#ffffff">
                        #foreach ($changePath in $commit.changedPaths)
                            #if ($commit.isDeleted($changePath) == true)
                                <font color="#990000" size="-2"><b title="Delete">$i18n.getText("git.project-tab.deleted")</b></font>
                            #elseif ($commit.isAdded($changePath) == true)
                                <font color="#009900" size="-2"><b title="Add">$i18n.getText("git.project-tab.added")</b></font>
                            #elseif ($commit.isModified($changePath) == true)
                                <font color="#999933" size="-2"><b title="Modify">$i18n.getText("git.project-tab.modified")</b></font>
                            #elseif ($commit.isReplaced($changePath) == true)
                                <font color="#999933" size="-2"><b title="Replace">$i18n.getText("git.project-tab.replaced")</b></font>
                            #else
                                $changePath.change
                            #end
                            $commit.linkRenderer.getChangePathLink($commit.revision, $changePath)

                            #if ($changePath.copyPath)
                                (from $commit.linkRenderer.getCopySrcLink($commit.revision, $changePath))
                            #end

                            <br />
                        #end
                    </td>
                </tr>
            #end
        #else
           <tr><td><p class="bluetext">$i18n.getText("git.project-tab.no-commits")</p></td></tr>
        #end
    </table>
    <!-- End of commit table -->
</div>
<!-- End of the git Project Tab -->
